

.menu-container {

	height: 26px;
	-moz-box-shadow: 3px 2px 3px #333;
  -webkit-box-shadow: 3px 2px 3px #333;
  box-shadow: 3px 2px 3px #333;
  background-color: #eeeeee;
  min-width: 600px;
}

.main-container {
	margin-top: 10px;
	clear: both;
}

.memu a {
	text-decoration: underline;
}

.memu a.no-link {
	text-decoration: none;
}